<main class="container container--lateral">
  <div class="explicacion">
    <p class="explicacion__titulo">Notificaciones</p>
    <p class="explicacion__subtitulo">Todas tus notificaciones del sistema</p>
  </div>
  <div class="filtros filtros--notificaciones">
    <button class="boton boton--filtro boton--filtro-activo" id="filtroTodos">Todos</button>
    <button class="boton boton--filtro" id="filtroNoLeidas">No leídas</button>
    <button class="boton boton--filtro" id="filtroLeidas">Leídas</button>
  </div>

  <div id="contenedorNotificaciones" class="contenedor-notificaciones">
    <!-- Las notificaciones se cargarán dinámicamente aquí -->
  </div>
</main>
