.badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: var(--border-radius-botones);
  font-size: 0.70rem;
  font-weight: bold;
  white-space: nowrap;
  font-family: var(--fuente-contenido);
}

.badge--rechazado {
  background-color: var(--color-fondorojitranslucido);
  color: var(--color-rojizo);
}

.badge--completado {
  background-color: var(--color-fondoverdetranslucido);
  color: var(--color-verdoso);
}

.badge--pendiente{
  color: var(--color-primario);
  background-color: var(--color-fononaranjatranslucido);
}

.badge--azul {
  color: var(--color-secundario);
  background-color: var(--color-fondoazultranslucido);
}