<div class="container container--noHeader">
    <div class="introduccion">
        <img src="../../../../public/logo.png" alt="logo" class="introduccion__logo">
        <h2 class="introduccion__titulo">Plan familiar de emergencia</h2>
        <p class="introduccion__texto">Planificación familiar para la prevención y respuesta ante emergencias</p>
        <img src="../../../../public/familiapng.png" alt="imagen" class="introduccion__imagen">
    </div>
    <div class="login login--gap">
        <img src="logo.png" alt="logoDefensaCivil" class="login__logo">
        <form method="POST" class="form">
            <h2 class="form__titulo">Verificar Codigo</h2>
            <div class="form__texto form__texto--center">Ingrese el código de 6 dígitos enviado a usuario@correo.com y
                su nueva contraseña.</div>
            <div class="input input--contenedor">
                <input type="number" class="input--naranja input--naranja-padding" name="code"
                    data-tipo="codigo">
                <input type="number" class="input--naranja input--naranja-padding" name="code"
                    data-tipo="codigo">
                <input type="number" class="input--naranja input--naranja-padding" name="code"
                    data-tipo="codigo">
                <input type="number" class="input--naranja input--naranja-padding" name="code"
                    data-tipo="codigo">
                <input type="number" class="input--naranja input--naranja-padding" name="code"
                    data-tipo="codigo">
                <input type="number" class="input--naranja input--naranja-padding" name="code"
                    data-tipo="codigo">
            </div>
            <button class="boton">Confirmar</button>
            <div class="decoration">
                <div class="decoration__linea"></div>
                <p class="decoration__text">o</p>
                <div class="decoration__linea"></div>
            </div>
            <!-- 
                Botón de Reenviar Código
                Sirve para: Permitir al usuario solicitar un nuevo código de recuperación sin tener que volver a escribir su correo electrónico
                Qué hace: Dispara el evento del controlador para mandar una petición de reenvío asíncrona
                Por qué es importante: Definir type="button" es indispensable para que el botón no sea tratado como submit del formulario y no dispare la validación de los 6 dígitos
            -->
            <button id="volver" type="button" class=" boton boton--azul">Reenviar codigo</button>
        </form>
    </div>
</div>