<div class="container">
    <div class="explicacion">
        <p class="explicacion__titulo">Hola, Voluntari</p>
        <p class="explicacion__subtitulo">Bienvenido al panel de Control</p>
    </div>
    <img src="familia.png" alt="logoDefensaCivil" class="container__imagen">
    <button id="nuevoPlan" class="container__boton boton boton--grande boton--azul">Crear nuevo plan familiar</button>
    <button id="verPlan" class="container__boton boton boton--grande">Continuar con planes guardados</button>
</div>



<div class="container">
    <div class="explicacion">
        <h1 class="explicacion__titulo">
            Hola
        </h1>
        <p class="explicacion__subtitulo">
            Bienvenido al panel de control
        </p>
    </div>
    <img
        src="familia.png"alt="Familia" class="container__imagen">
    <div class="container__acciones">
        <buttonid="nuevoPlan"class="container__boton boton boton--grande boton--azul"> Crear nuevo plan familiar</button>
        <buttonid="verPlan"class="container__boton boton boton--grande">Continuar con planes guardados</button>
    </div>
</div>

