<div class="container container--noHeader">
        <div class="introduccion">
            <img src="../../../../public/logo.png" alt="logo" class="introduccion__logo">
            <h2 class="introduccion__titulo">Plan familiar de emergencia</h2>
            <p class="introduccion__texto">Planificación familiar para la prevención y respuesta ante emergencias</p>
            <img src="../../../../public/familiapng.png" alt="imagen" class="introduccion__imagen">
        </div>
        <div class="login">
            <img src="logo.png" alt="logoDefensaCivil" class="login__logo">
            <form class="form">
                <h2 class="form__titulo">Bienvenido!</h2>
                <h4 class="form__subtitulo">Inicie Sesión</h4>
                <!-- div.input: el span.error se inyecta dentro de este div via mostrarError() en validacionInputs.js -->
                <!-- CSS inputs.css línea 82: .input:has(> span.error) aplica el estilo de error cuando el span está dentro del .input -->
                <div class="input">
                    <input type="text" class="input--naranja" id="correo" placeholder="Correo Electronico" autocomplete="off" data-tipo="correo">
                </div>
                <div class="input">
                    <input type="password" class="input--naranja" id="contrasena" placeholder="Contraseña" autocomplete="off" data-tipo="passwordSinValdacion">
                </div>
                <button class="boton" id="botonLogin">Ingresar</button>
            </form>
            <button id="recuperarContrasena" class='form__link'>¿Olvido su contraseña?</button>
            <div class="decoration">
                <div class="decoration__linea"></div>
                <p class="decoration__text">o</p>
                <div class="decoration__linea"></div>
            </div>
            <button id="crearCuenta" class="boton boton--azul">Crear Cuenta</button>
        </div>
    </div>