    <div class="container">

        <button class="datos boton boton--grande" id="organizations">
            <i class="ri-community-line datos__icono"></i>
            <p class="datos__titulo">Organizaciones</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Organizaciones en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="document_types">
            <i class="ri-file-list-3-line datos__icono"></i>
            <p class="datos__titulo">Tipos de Documento</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Tipos de Documento en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="housing_qualities">
            <i class="ri-home-4-line datos__icono"></i>
            <p class="datos__titulo">Calidades de Vivienda</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Calidades de Vivienda en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="sectors">
            <i class="ri-map-pin-2-line datos__icono"></i>
            <p class="datos__titulo">Sectores</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Sectores en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="vulnerable_questions">
            <i class="ri-questionnaire-line datos__icono"></i>
            <p class="datos__titulo">Preguntas de Vulnerabilidad</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Preguntas de Vulnerabilidad en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="nationalities">
            <i class="ri-flag-line datos__icono"></i>
            <p class="datos__titulo">Nacionalidades</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Nacionalidades en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="threat_types">
            <i class="ri-alert-line datos__icono"></i>
            <p class="datos__titulo">Tipos de Amenaza</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Tipos de Amenaza en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="species">
            <i class="ri-bear-smile-line datos__icono"></i>
            <p class="datos__titulo">Especies</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Especies en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="resources">
            <i class="ri-hand-coin-line datos__icono"></i>
            <p class="datos__titulo">Recursos</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Recursos en el sistema.
            </p>
        </button>

        <button class="datos boton boton--grande" id="vulnerabilities">
            <i class="ri-shield-cross-line datos__icono"></i>
            <p class="datos__titulo">Vulnerabilidades</p>
            <p class="datos__descripcion">
                Agrega, Edita, Activa y Desactiva registros de Vulnerabilidades en el sistema.
            </p>
        </button>
    </div>
